<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<welcome-file-list>
		<welcome-file>stackedChart.html</welcome-file>
	</welcome-file-list>

	<context-param>
	    <param-name>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</param-name>
	    <param-value>false</param-value>
	</context-param>	
</web-app>